

.readmore {
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  width: max-content;

  color: white;
  background-color: var(--danger);
  cursor: pointer;
  border: solid 0.1rem var(--danger);
  transition: .2s;
  &:hover {
    background-color: transparent;
    color: var(--danger);
    border: solid 0.1rem var(--danger);
  }
}




