@media (min-width: 35em) {
  footer {
    background-color: var(--danger);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    & > div {
      flex: 10rem 1 1;
    }

    & > div:nth-of-type(1) {
      height: 30rem;
      z-index: 1;

      &::after {
        content: '';
        display: block;
        z-index: -1;
        background-color: white;
        position: absolute;
        height: 39rem;
        width: 70rem;
        top: -5rem;
        left: -10rem;
        transform: skew(20deg);
        box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.4);
        display: flex;

        align-items: center;
      }
    }

    & > div:nth-of-type(2) {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      h4 {
        margin-block: 2.4rem;
      }
      .socials {
        display: flex;
        gap: 0.8rem;
        & > div {
          margin-bottom: 0.8rem;
        }

        & > div:nth-of-type(2) {
          display: flex;
          align-items: center;
        }

        a {
          color: white;
        }
        i {
          display: block;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          border: solid 0.1rem white;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .copyright {
    background-color: var(--black);
    color: white;
    text-align: right;
    padding-block: 0.8rem;
    padding-right: 4rem;
  }
}

@media (max-width: 35em) {
  footer {
    background-color: var(--danger);

    position: relative;

    & > div:nth-of-type(1) {
      height: 30rem;
      z-index: 1;
      background-color: #444;
      padding-top: 2.4rem;
    }

    & > div:nth-of-type(2) {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      h4 {
        margin-block: 2.4rem;
      }
      .socials {
        display: flex;
        gap: 0.8rem;
        & > div {
          margin-bottom: 0.8rem;
        }

        & > div:nth-of-type(2) {
          display: flex;
          align-items: center;
        }

        a {
          color: white;
        }
        i {
          display: block;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          border: solid 0.1rem white;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
