@media (min-width: 35em) {
  .hero {
    height: 100vh;
    position: relative;


    &::after {
      content: '';
      display: block;
      position: absolute;
      background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.3)
      );
      inset: 0;  
    }


    & > div:nth-of-type(2) {
      position: absolute;
      top: 50%;
      left: 50%;
      background: linear-gradient(rgba(255, 255, 255, 1), transparent);
      transform: translateX(-50%) translateY(-50%);
      z-index: 9;
      text-align: center;
      padding: 4rem;
      width: max-content;
      h1 {
        color: var(--danger);
        font-weight: 900;
        margin-bottom: 2.4rem;
      }
      h6 {
        margin-block: 2.4rem;
      }
      h4 {
        margin-bottom: 3.2rem;
      }
    }



  }
  .each-slide-effect{
    height: 100vh;
  }
}

@media (max-width: 35em) {
  .hero {
    position: relative;
    .each-slide-effect{
      height: 70vh;
    }






    &::after {
      content: '';
      display: block;
      position: absolute;
      background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.3)
      );
      inset: 0;  
    }


    & > div:nth-of-type(2) {
      position: absolute;
      top: 50%;
      left: 50%;
      background: linear-gradient(rgba(255, 255, 255, 1), transparent);
      transform: translateX(-50%) translateY(-50%);
      z-index: 9;
      text-align: center;

      width: 30rem;
      h1 {
        color: var(--danger);
        font-weight: 900;
        margin-bottom: 2.4rem;
        font-size: 3.2rem;
      }
      h6 {
        margin-block: 2.4rem;
      }
      h4 {
        margin-bottom: 3.2rem;
      }
    }











  }
}
