@media (min-width: 35em) {
  .hero {
    & > div:nth-of-type(1) {
      display: flex;
      flex-wrap: wrap;
      height: 100vh;
      overflow: hidden;

      & > div:nth-of-type(1) {
        flex: 30rem 1 0;
        display: flex;
        top: 20%;
        padding-left: 6.4rem;
        position: relative;
        text-align: center;
        overflow: hidden;

        & > div {
          height: 33rem;

          h1 {
            margin-block: 2.4rem;
            font-weight: 900;
            color: var(--danger);
          }
          h4 {
            font-weight: bold;
            color: var(--danger);
            margin-top: 2rem;
            font-size: 2rem;
          }

          & > div {
            margin-top: 5.6rem;
            display: flex;
            gap: 3.2rem;
            justify-content: center;
            & > a {
              display: block;
              border-radius: 50%;
              overflow: hidden;
              box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.5);
              display: grid;
              place-items: center;
              border: solid 0.4rem white;
              height: 4rem;
              width: 4rem;
            }
          }
        }
      }

      & > div:nth-of-type(2) {
        flex: 20rem 1 0;
        position: relative;
        background: linear-gradient(to bottom, white, var(--grey));
        border-radius: 10rem 22rem 23rem 34rem;
        transform: translateX(2rem);

        box-shadow: -1rem 1rem 7rem rgba(0, 0, 0, 0.2);

        & > div {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateX(-40%) translateY(-40%);
          height: 40rem;
          width: 40rem;
        }
      }
    }
  }
}

@media (max-width: 35em) {
  .hero {
    & > div {
      & > div:nth-of-type(1) {
        background-image: url('/laptop.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 47rem;

        position: relative;
        z-index: 1;
        padding: 1.6rem;

        & > div:nth-of-type(1) {
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
          padding-inline: 1.6rem;
          padding-block: 2.4rem;
          text-align: center;

          .social-btn {
            display: flex;
            gap: 2.4rem;
            justify-content: center;
            a {
              display: block;

              border-radius: 50%;
              box-shadow: 0.3rem 0.3rem 1.6rem rgba(0, 0, 0, 0.6);
            }
          }
          h1 {
            color: var(--danger);
            line-height: 5rem;
            font-size: 4rem;
          }
          h6 {
            margin-block: 2.4rem;
          }
          h4 {
            color: var(--danger);
          }
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          inset: 0;
          z-index: -1;
          background-color: rgba(255, 255, 255, 0.9);
        }
      }
      & > div:nth-of-type(2) {
        display: none;
      }
    }
  }
}
