@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Varela&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  box-sizing: border-box;

  --danger: #fe6a44;
  --grey: #e3e6eb;
  --white: #fff;
  --black: #483b33;
}

picture {
  display: block;
  position: relative;
  overflow: hidden;
}

body {
  position: relative;
  color: #555;
  line-height: 2.4rem;

  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-size: 1.6rem;
  font-style: normal;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.9rem;
}

h3 {
  font-size: 3.3rem;
}

h4 {
  font-size: 2.8rem;
}

h6 {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Vollkorn', serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

img {
  max-width: 100%;
}
