@media (min-width: 35em) {
  .servicessection {
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100vh;

    background-color: var(--danger);

    h4 {
      margin-bottom: 8rem;
      margin-top: 4rem;
      letter-spacing: 0.8rem;
      font-weight: bold;
      color: white;
    }
    & > div {
      display: flex;
      gap: 3.2rem;
      flex-wrap: wrap;

      & > div {
        flex: 28rem 1 1;
      }

      .servicescard {
        margin-top: 4rem;
        background-color: white;
        height: 12rem;
        box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.2);
        position: relative;
        & > div {
          position: absolute;
        }

        & > div:nth-of-type(1) {
          width: 13rem;
          height: 13rem;
          border-radius: 50%;
          background-color: var(--danger);
          border: solid 0.2rem white;
          color: white;
          font-size: 3.2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          left: 50%;
          top: -7rem;
          transform: translateX(-50%);
          box-shadow: 0.4rem 0.4rem 0.8rem rgba(0, 0, 0, 0.4);
        }
        & > div:nth-of-type(2) {
          width: 27rem;
          height: 7rem;
          box-shadow: 0.4rem -0.4rem 0.8rem rgba(0, 0, 0, 0.2);
          bottom: 0;
          left: 0;
          padding: 1.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white;
        }
      }
    }
  }
}





@media (max-width: 35em) {
  .servicessection {
    padding-inline: 1.6rem;
    padding-block: 2.4rem;

    background-color: var(--danger);

    h4 {
      margin-bottom: 3.2rem;

      letter-spacing: 0.8rem;
      font-weight: bold;
      color: white;
      text-align: center;
    }

    & > div {
      display: flex;
      gap: 3.2rem;
      flex-wrap: wrap;

      & > div {
        flex: 28rem 1 1;
      }

      .servicescard {
        display: flex;
        gap: 1.6rem;
        
        & > div:nth-of-type(1) {
          flex: 9rem 0 1;
          height: 9rem;
          border-radius: 50%;
          background-color: var(--danger);
          border: solid 0.2rem white;
          color: white;
          display: flex;
          font-size: 3.2rem;
          align-items: center;
          justify-content: center;

          box-shadow: 0.4rem 0.4rem 0.8rem rgba(0, 0, 0, 0.4);
        }
        & > div:nth-of-type(2) {
          flex: 20rem 0 1;
          padding: 1.6rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: white;
      
        }
      }
    }
  }
}
